/public/
/tmp/
/var/


## fireh_runner

/etc/runner.json


## git

*.orig


## python

/.virtualenv/
/python_modules
/requirements.txt
*.pyc


## runit

supervise/


## waf

/.BUILD/
/.lock-waf*
/build.yml
/wscript
