{% extends "base.html" %}
{% load i18n carbondesign %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
  {% Row id="main-content" %}
    {% Col %}
      <h1>{% trans "Password Reset" %}</h1>
    {% endCol %}
  {% endRow %}

  {% Row %}
    {% Col %}
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    {% endCol %}
  {% endRow %}

  {% Row %}
    {% Col tag="form" class="password_reset" method="POST" %}
      {% csrf_token %}

			<div class="form-group">
				{% TextInput form.email %}
			</div>

      <div class="form-actions">
        {% Button type="submit" %}
          {% trans 'Reset My Password' %}
        {% endButton %}
      </div>
    {% endCol %}
  {% endRow %}

  {% Row %}
    {% Col %}
      <p>
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
      </p>
    {% endCol %}
  {% endRow %}
{% endblock %}
